ul {
  border: 1px solid red;
  padding: 0;
  list-style: none;
  background: #e8e8e9;
  height: 300px;
}

ul {
  display: flex;
  /* flex-direction: row; column; row-reverse; column-reverse; */
  flex-wrap: wrap; /* nowrap; wrap-reverse; row wrap; */
  /*justify-content: space-around; flex-end ; center ;
  space-between ; space-around; */
  /* align-items: baseline;  flex-end; center;
  stretch; baseline; */
  align-content: space-between; /* flex-end ; center ; stretch ; */
}

li {
  /* width: 100px; */
  height: 100px;
  background-color: #8cacea;
  margin: 8px;
  padding: 4px;
}


li {
  flex-basis: 20em; /* auto; px; em; rem; basis for expanding */
}
