ul {
  border: 1px solid red;
  padding: 0;
  list-style: none;
  background: #e8e8e9;
}

ul {
  display: flex;
  /* flex-direction: row; column; row-reverse; column-reverse; */
  flex-wrap: wrap; /* nowrap; wrap-reverse; row wrap; */
  /*justify-content: space-around; flex-end ; center ;
  space-between ; space-around; */
  align-items: center;
 /* flex-end ; center ; stretch ; */
  flex-direction: column;
}

li {
  width: 100px;
  background-color: #8cacea;
  margin: 8px;
  padding: 4px;
  flex-basis: 100px;
}



